In [1]:
#import the libraries
import pandas as pd
import scipy 
import numpy as np
from scipy import stats

In [4]:
customer=pd.read_csv('Costomer+OrderForm.csv')

In [5]:
customer

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [ ]:
#Apply One Hot Encoding

In [6]:
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
customer['Phillippines']=label_encoder.fit_transform(customer['Phillippines'])
customer['Indonesia']=label_encoder.fit_transform(customer['Indonesia'])
customer['Malta']=label_encoder.fit_transform(customer['Malta'])
customer['India']=label_encoder.fit_transform(customer['India'])
customer.head()

   Phillippines  Indonesia  Malta  India
0             1          1      0      1
1             1          1      1      0
2             1          0      0      1
3             1          1      1      1
4             1          1      0      1

In [7]:
customer.Phillippines.value_counts(),customer.Indonesia.value_counts(),customer.Malta.value_counts(),customer.India.value_counts()

(1    271
 0     29
 Name: Phillippines, dtype: int64,
 1    267
 0     33
 Name: Indonesia, dtype: int64,
 1    269
 0     31
 Name: Malta, dtype: int64,
 1    280
 0     20
 Name: India, dtype: int64)

In [8]:
Def_NonDef=[[271,267,269,280],[29,33,31,20]]

In [9]:
Def_NonDef

[[271, 267, 269, 280], [29, 33, 31, 20]]

In [11]:
from scipy.stats import chi2_contingency

In [13]:
stat, p, dof, expected=chi2_contingency(Def_NonDef)

In [14]:
print("===Chi2 Stat===")
print(stat)
print("\n")
print("===Degrees of Freedom===")
print(dof)
print("\n")
print("===P-Value===")
print(p)
print("\n")
print("===Contingency Table===")
print(expected)

===Chi2 Stat===
3.858960685820355


===Degrees of Freedom===
3


===P-Value===
0.2771020991233135


===Contingency Table===
[[271.75 271.75 271.75 271.75]
 [ 28.25  28.25  28.25  28.25]]