In [1]:
#import the libraries
import pandas as pd
import scipy 
import numpy as np
from scipy import stats

In [3]:
fantaloons=pd.read_csv('Faltoons.csv')

In [4]:
fantaloons

    Weekdays Weekend
0       Male  Female
1     Female    Male
2     Female    Male
3       Male  Female
4     Female  Female
..       ...     ...
395   Female    Male
396   Female  Female
397   Female  Female
398   Female    Male
399   Female  Female

[400 rows x 2 columns]

In [5]:
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
fantaloons['Weekdays']=label_encoder.fit_transform(fantaloons['Weekdays'])
fantaloons['Weekend']=label_encoder.fit_transform(fantaloons['Weekend'])

In [6]:
fantaloons.head()

   Weekdays  Weekend
0         1        0
1         0        1
2         0        1
3         1        0
4         0        0

In [8]:
fantaloons.Weekdays.mean(), fantaloons.Weekend.mean()

(0.2825, 0.4175)

In [11]:
stats.ttest_ind(fantaloons.Weekdays, fantaloons.Weekend)

Ttest_indResult(statistic=-4.038383581687957, pvalue=5.9013879428528154e-05)