In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets  
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import  DecisionTreeClassifier
from sklearn import tree
from sklearn.metrics import classification_report
from sklearn import preprocessing

In [2]:
# import some data to play with
cars = pd.read_csv('Cars.csv')

In [9]:
cars

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]

In [5]:
array = cars.values

In [10]:
X = cars[['HP','VOL','SP','WT']]
Y = cars[['MPG']]

In [11]:
X

     HP  VOL          SP         WT
0    49   89  104.185353  28.762059
1    55   92  105.461264  30.466833
2    55   92  105.461264  30.193597
3    70   92  113.461264  30.632114
4    53   92  104.461264  29.889149
..  ...  ...         ...        ...
76  322   50  169.598513  16.132947
77  238  115  150.576579  37.923113
78  263   50  151.598513  15.769625
79  295  119  167.944460  39.423099
80  236  107  139.840817  34.948615

[81 rows x 4 columns]

In [12]:
Y

          MPG
0   53.700681
1   50.013401
2   50.013401
3   45.696322
4   50.504232
..        ...
76  36.900000
77  19.197888
78  34.000000
79  19.833733
80  12.101263

[81 rows x 1 columns]

In [13]:
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.3,random_state=40)

In [14]:
# Decision Tree Regression
from sklearn.tree import DecisionTreeRegressor

In [15]:
model = DecisionTreeRegressor()
model.fit(X_train, y_train)

DecisionTreeRegressor()

In [16]:
preds=model.predict(X_test)

In [17]:
preds

array([38.4110033 , 38.4110033 , 24.48736667, 40.47472334, 30.13192258,
       27.35426531, 34.07066829, 30.13192258, 40.47472334, 37.95874317,
       34.56149897, 38.4110033 , 34.07066829, 38.90183397, 50.01340115,
       27.35426531, 29.62993595, 23.51591693, 24.48736667, 29.62993595,
       50.01340115, 34.56149897, 35.15272697, 50.01340115, 50.01340115])

In [19]:
pd.Series(preds).value_counts()

50.013401    4
38.411003    3
29.629936    2
24.487367    2
40.474723    2
30.131923    2
27.354265    2
34.561499    2
34.070668    2
23.515917    1
37.958743    1
35.152727    1
38.901834    1
dtype: int64

In [21]:
#Find the accuracy
model.score(X_test,y_test)

0.8694488757983101